<!-- 5 DAY FORECAST -->
<% if(response_data.five_day!=""){%>
  <div class="element-container">
    <h2>Five Day Forecast</h2>
    <div class="five-day-container closed">
      <% for(var i=0; i<response_data.five_day.list.length; i++){ %>
        <% let temp_time = new Date(response_data.five_day.list[i].dt_txt); %>


        <% if(temp_time.getHours()=="0" || i==0){%>
          <!-- if it is a new day, we are going to display the date:-->
          <span class="list-group">
            <span class="list-group-item list-group-item-info"><strong><%=(temp_time.getMonth()+1)+"/"+temp_time.getDate()+"/"+temp_time.getFullYear()%></strong></span>
          </span>

        <%}%>
        <!-- display the temp for that time frame-->
        <span class="list-group">
          <span class="list-group-item">
            <%if(temp_time.getHours() >= 12){%>
              <%var time_string = "PM";%>
            <%}else{%>
              <%var time_string = "AM";%>
            <%}%>


            <h3 class="weather-time"><%=('0'+temp_time.getHours()).slice(-2)%>:<%=('0'+temp_time.getMinutes()).slice(-2)%> <%=time_string%> <div><%=response_data.five_day.list[i].main.temp%>&#176;F</div></h3> <div class="weather-time"><span class="weather-description-words cap"><%=response_data.five_day.list[i].weather[0].description%></span>  <div>Humidity: <%=response_data.five_day.list[i].main.humidity%>%</div></div>
        </span>
      <%}%>
    </div>
    <div class="show-more-btn" onclick="handleClick(event)">Show more information</div>
  </div>
<%}%>


<!-- END OF 5 DAY FORECAST-->
