<%- include ("../partials/header") %>

    <h1> hello </h1>
    <div class="center col">
      <% if(response_data){ %>
        <div class="element-container">
            <h2>Current Weather:</h2>
            <span class="weather-temp-container">
              <h1 class="weather-temp"><%= response_data.weather_current.main.temp %>&#176;F</h1>

              <span class="weather-desc">
                <img title="<%= response_data.weather_current.weather[0].description %>" src="<%= "http://openweathermap.org/img/wn/"+response_data.weather_current.weather[0].icon+"@2x.png"%>"/>
                <%= response_data.weather_current.weather[0].description %>
              </span>
            </span>

            Wind: <%= response_data.weather_current.wind.speed %> mph <br/>
            Humidity: <%= response_data.weather_current.main.humidity %>%


        </div>
        <% if(response_data.wiki_data!=""){ %>
            <div class="element-container">
              <h2><%=response_data.location_info.town%>, <%=response_data.location_info.state%> </h2>
              <div class="wiki-data closed">

                <p><%= response_data.wiki_data %></p>
              </div>
              <div class="show-more-btn">Show more information</div>
            </div>

          <%}%>
      <% } %>
    </div>


<%- include ("../partials/footer") %>
